<link rel="stylesheet" href="../../global.css" />
<div class="container">
<div id="table-subheader">
  <h3>Teas</h3>
  <a href="/add" class="teaki-button">&#43; Add tea</a>
</div>
<table id="tea-table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Vendor</th>
    <th>Origin</th>
    <th>Availability</th>
    <th>Options</th>
  </tr>
  </thead>
  <tbody></tbody>
</table>

<template id="tea-row">
  <tr>
    <td class="name"></td>
    <td class="type"></td>
    <td class="vendor"></td>
    <td class="origin"></td>
    <td class="available"></td>
    <td>
      <a>Details</a>
    </td>
  </tr>
</template>
</div>
