.container {
  width: 55rem;
}

#table-subheader {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  h3 {
    margin-right: auto;
    padding-left: 1.5rem;
  }

  a {
    border: 1px solid var(--dark-green);
    border-radius: 5px;
    height: 2.5rem;
    padding: 0 1rem;
    background-color: var(--green);
    color: var(--black);
    align-content: center;
    text-decoration: none;
    transition: background-color 150ms, color 150ms;
    &:hover {
      background-color: var(--dark-green);
      color: var(--white);
    }
  }
}

#tea-table {
  border-collapse: separate;
  border: 1px solid var(--black);
  border-radius: 5px;
  border-spacing: 0;

  th {
    background-color: var(--black);
    color: white;
  }

  td, th {
    padding: 1em 1.5em;
  }

  tbody tr:not(:last-child) td {
    border-bottom: solid black 1px;
  }

  tr th:first-child {
    border-top-left-radius: 4px;
  }
  tr th:last-child {
    border-top-right-radius: 4px;
  }
  tr:last-child td:first-child {
    border-bottom-left-radius: 4px;
  }
  tr:last-child td:last-child {
    border-bottom-right-radius: 4px;
  }
}
