#tea-table {
  border-collapse: separate;
  border: 1px solid var(--black);
  border-radius: 5px;
  border-spacing: 0;

  th {
    background-color: var(--black);
    color: white;
  }

  td, th {
    padding: 1em 1.5em;
  }

  tbody tr:not(:last-child) td {
    border-bottom: solid black 1px;
  }

  tr th:first-child {
    border-top-left-radius: 4px;
  }
  tr th:last-child {
    border-top-right-radius: 4px;
  }
  tr:last-child td:first-child {
    border-bottom-left-radius: 4px;
  }
  tr:last-child td:last-child {
    border-bottom-right-radius: 4px;
  }
}
