:root {
  --black: #3e3e3e;
  --white: #ffffff;
  --grey: #a3a3a3;
  --light-grey: #dcdcdc;
  --green: #c2c398;
  --light-green: #eaecad;
  --dark-green: #5e5e2b;
  --blue: #7c9885;
  --red: #d1603d;
  --yellow: #fedc97;
}

header h1 {
  margin: 0.75em 0 0;
}

header nav ul {
  list-style: none outside;
  display: flex;
  justify-content: flex-start;
  padding: 0;
}

ul#site-links li {
  margin: 0.3em 1em 0.3em 0;
}
