<section id="single-tea-details">
  <h2 id="name"></h2>
  <div class="details-container">
    <div class="heading">Basic Information</div>
    <div class="content">
      <table class="details-table">
        <tr>
          <th>Type</th>
          <td id="type"></td>
        </tr>
        <tr>
          <th>Origin</th>
          <td id="origin"></td>
        </tr>
        <tr>
          <th>Harvest Year</th>
          <td id="harvest-year"></td>
        </tr>
        <tr>
          <th>Vendor</th>
          <td id="vendor"></td>
        </tr>
        <tr>
          <th>Amount</th>
          <td id="amount"></td>
        </tr>
        <tr>
          <th>Alias</th>
          <td id="alias"></td>
        </tr>
        <tr>
          <th>Remarks</th>
          <td id="remarks"></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="details-container">
    <div class="heading">Notes</div>
    <div class="content" id="notes">none</div>
  </div>
</section>
