<h2>Add new tea</h2>
<form id="create-tea-form" autocomplete="off">
  <div class="form-row">
    <div class="form-unit">
      <label for="nameId">Tea name</label>
      <select id="nameId" name="nameId" class="long" required>
        <option value="" disabled selected>-- Select name --</option>
        <option value="">Other</option>
      </select>
    </div>
    <div class="form-unit">
      <label for="typeId">Tea type</label>
      <select id="typeId" name="type" class="short" required>
        <option value="" disabled selected>-- Select type --</option>
      </select>
    </div>
  </div>

  <div class="form-row custom-name-row" hidden>
    <div class="form-unit">
      <label for="name">Custom name</label>
      <input type="text" id="name" name="name" class="full" placeholder="Tea name" />
    </div>
  </div>
  <div class="form-row custom-name-row" hidden>
    <div class="form-unit">
      <label for="alias">Alias</label>
      <input type="text" id="alias" name="alias" class="full" placeholder="Alias" />
    </div>
  </div>

  <div class="form-row">
    <div class="form-unit">
      <label for="harvestYear">Harvest Year</label>
      <input type="number" id="harvestYear" name="harvestYear" class="short" placeholder="Year" />
    </div>
    <div class="form-unit">
      <label for="originId">Origin</label>
      <select id="originId" name="originId" class="long">
        <option value="" disabled selected>-- Select origin --</option>
        <option value="">Other</option>
      </select>
    </div>
  </div>

  <div class="form-row custom-origin-row" hidden>
    <div class="form-unit">
      <label for="origin">Custom origin</label>
      <input type="text" id="origin" class="full" placeholder="Tea origin" />
    </div>
  </div>

  <div class="form-row">
    <div class="form-unit">
      <label for="amount">Amount in grams</label>
      <input type="number" id="amount" name="amount" class="short" placeholder="Amount" />
    </div>
    <div class="form-unit">
      <label for="vendorId">Vendor</label>
      <select id="vendorId" name="vendorId" class="long" required>
        <option value="" disabled selected>-- Select vendor --</option>
        <option value="">Other</option>
      </select>
    </div>
  </div>

  <div class="form-row custom-vendor-row" hidden>
    <div class="form-unit">
      <label for="vendor">Custom vendor</label>
      <input type="text" id="vendor" class="full" placeholder="Tea vendor" />
    </div>
  </div>

  <div class="form-row">
    <div class="form-unit inline">
      <input type="checkbox" id="isAvailable" name="isAvailable" />
      <label for="isAvailable">Available?</label>
    </div>
  </div>

  <div class="form-row">
    <div class="form-unit">
      <label for="remarks">Remarks</label>
      <textarea id="remarks" name="remarks" class="full" maxlength="150" placeholder="Remarks"></textarea>
    </div>
  </div>
  <button class="full" id="btn-submit">Submit</button>
</form>
