<table id="tea-table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Origin</th>
    <th>Available</th>
  </tr>
  </thead>
  <tbody></tbody>
</table>

<template id="tea-row">
  <tr>
    <td class="name"></td>
    <td class="type"></td>
    <td class="origin"></td>
    <td class="available"></td>
  </tr>
</template>

<style>
  #tea-table {
    border-collapse: separate;
    border: 1px solid var(--black);
    border-radius: 5px;
    border-spacing: 0;
  }

  th {
    background-color: var(--black);
    color: white;
  }

  td, th {
    padding: 1em 1.5em;
  }

  #tea-table tbody tr:not(:last-child) td {
    border-bottom: solid black 1px;
  }

  tr th:first-child {
    border-top-left-radius: 4px;
  }
  tr th:last-child {
    border-top-right-radius: 4px;
  }
  tr:last-child td:first-child {
    border-bottom-left-radius: 4px;
  }
  tr:last-child td:last-child {
    border-bottom-right-radius: 4px;
  }
</style>
